.category_outer, .product_outer {
    width: 49%;
    float: left;
}
.category_outer_area {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eee;
}
.category_outer_area input {
    padding: 10px;
}
.product_outer select, .product_outer input {
    margin-bottom: 10px;
    padding: 10px;
}
.product_outer input {
	float:right;
}
.modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    z-index: 1;
    transition: 0.5s;
}
.modal-dialog {
    max-width: 600px;
    background-color: #fff;
    margin: 100px auto 0;
}
button.close {
    position: absolute;
    right: 0;
    top: 0;
}
.modal-header {
    position: relative;
    padding: 10px 0;
    text-align: center;
}
.modal-header h5{
	margin:0;	
	}
#product_form p {
    overflow: hidden;
}
.modal-body {
    padding: 20px;
}
#product_form input {
    width: 100%;
}
#product_form p input {
    float: right;
    width: auto;
}
button.btn.btn-primary {
    padding: 10px;
}
